<!DOCTYPE html>
<html>
	<head>
		
		<title>AnimaStudy</title>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.10.2/paper-full.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.2/howler.js"></script>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
		<link rel="stylesheet" type="text/css" href="circles.css"></link>
		<script type="text/paperscript" canvas="myCanvas" src="circles.js"></script>
		 
	</head>
	<body>
		<!--<input type="text">-->
		
		<canvas id="myCanvas" resize></canvas>

		
	<!--	<a class="navbar-brand" href="#">
    <span class="glyphicon glyphicon-menu-hamburger" onclick="public/circles.js:openSideNav()"></span>
</a>
<div id="mySidenav" class="sidenav">
	 <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> 
	-->
	
    <!-- 	<a href="nah" class="closebtn" onclick="public/circles.js:closeNav()">&times;</a> -->

<div align = "left">
<ul>
<!--  <li><a href="#intro">Intro</a></li>
  <li><a href="#subjects">Subjects</a></li>
  <li><a href="#about">About</a></li>
 -->
 <div class="subject">
  <button class="subjectbtn">Subjects</button>
  <div class="subject-content">
    <a href="#">Mathematics</a>
    <a href="#">Physics</a>
    <a href="#">Chemistry</a>
    
  </div>
</div>
  </li>
</ul>
</div>

<!--
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
-->

<!--
<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "500px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
</script>
-->
	</body>
</html>
